.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.typeEmoji {
  font-size: 2rem;
}
.emoji {
  font-size: 3rem;
}
.sourceCode {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.sourceCode:hover {
  background-color: #000;
  color: #fff;
}
